{% extends 'main_base.html' %}
{% block title %}Login page{% endblock %}
{% block content %}
  <h1>Auth page:</h1>
    <div class="grid2">
      <form action="/login/" method="POST">
        {% csrf_token %}
        <div class='grid2Col'><h2>Login:</h2>
          <input type='hidden' name='type' value='login' />
          <input name='username' maxlength="100" placeholder="username" required />
          <input name='password' type='password' maxlength="100" placeholder="password" required />
        </div>
        <input type="submit" value="Submit">
      </form>
      <h3>{{ status }}</h3>
      <form action="/register/" method="POST">
        {% csrf_token %}
        <div class='grid2Col'><h2>Or register and join {{ n_users }} other users:</h2>
          <input type='hidden' name='type' value='registration' />
          <input name='username' maxlength="100" placeholder="username" required />
          <input name='password' type='password' minlength="8" maxlength="100" placeholder="password" required />
        </div>
        <input type="submit" value="Submit">
      </form>
    </div>
    <p></p>
{% endblock %}
