{% extends 'main_base.html' %}
{% block title %}Welcome page{% endblock %}
{% block content %}
  <div class='awesome whiteBackColor'>
    Hello guys and Welcome! This is Django website with some templates and API call
  </div>
  <h3>Not sure what to expect here, but let's add some more content</h3>
  <h4>Number of comrades: {{numberOfComrades}}, times this page rendered: {{views}}</h4>
  <p><span style="font-size: large;">Last topic:</span><br>"""When site A wants to access content from another site B, it is called a Cross-Origin request. As it is disabled for security reasons, B sends an Access-Control-Allow-Origin header in the response. By default, a domain is not allowed to access an API hosted on another domain.  If we want to allow our REST API (say backend) hosted in our Django application to be accessed from other applications (say front-end) hosted on another server, we must enable CORS (Cross-Origin Resource Sharing)."""
  <br>
  <i>Source: <a target="_blank" href="https://www.geeksforgeeks.org/how-to-enable-cors-headers-in-your-django-project/">https://www.geeksforgeeks.org/how-to-enable-cors-headers-in-your-django-project/</a></i>
  </p>
{% endblock %}