<div class="footer whiteBackColor">
  {{data}}
  <div class="grid2">
    <div class="grid2Col">
      <h4>Contact</h4>
      <ul>
        <li class="contactLi">Email: {{email}}</li>
        <li class="contactLi">Phone: {{phone}}</li>
        <li class="contactLi">Website: <a target="_blank" href="{{website}}">Link</a></li>
      </ul>
    </div>
    <div class="grid2Col">
      <h4>Help</h4>
      <ul>
        <li class="helpLi">911</li>
        <li class="helpLi">Breaf</li>
        <li class="helpLi">Ask yourself: Is this gonna be important in 5 years?</li>
        <li class="helpLi">Chill</li>
      </ul>
    </div>
  </div>
</div>
<style>
  .grid2{
    display: grid;
    grid-template-columns: auto auto;
  }
  li.helpLi{
    list-style: none;
  }
  li.contactLi{
    list-style: none;
  }
  .footer{
    border: 3px red solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
  }
  .footer:hover{
    font-size: larger;
  }
</style>